<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bookshelf 📚 | shirley yin</title>

  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}?v=2">
</head>
<body class="post">
  <!-- todo: don't hardcode this -->
  <div class="header">
    <h1><a href="https://shirleyyin.com">shirley yin</a></h1>
    <nav>
      <a href="https://shirleyyin.com/about">about</a><a href="https://shirleyyin.com/projects">projects</a><a href="/bookshelf">bookshelf</a><a href="/art">art</a><a href="https://shirleyyin.com/blog">blog</a>
    </nav>
  </div>

  <h2><a href="/bookshelf">bookshelf</a> 📚</h2>

  <p>&larr; <a href="/bookshelf">Back to collection</a></p>

  <div class="book-details">
    <h3>{{ book.title }} &mdash; {{ book.author }}</h3>
    <div class="meta">
      <span class="date-read"><span class="label">Read:</span> {{ book.dateRead }}</span>
      <span class="category"><span class="label">Category:</span> {{ book.category }}</span>

      <div class="rating">
        <span class="label">Rating:</span>
        {% for i in range(book.rating) %}
        <i class="icon icon-star"></i>
        {% endfor %}
      </div>

      {% if book.favourite %}
      <div class="favourite">
        <span class="label">Favourite</span>
        (<i class="icon icon-heart"></i>)
      </div>
      {% endif %}

      {% if book.audiobook %}
      <div class="audiobook">
        <span class="label">Audiobook</span>
        (<i class="icon icon-headphones"></i>)
      </div>
      {% endif %}

      {% if book.reread %}
      <div class="reread">
        <span class="label">Reread</span>
        (<i class="icon icon-cw"></i>)
      </div>
      {% endif %}
    </div>

    {{ details|safe }}   
  </div>
</body>
</html>